# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.spec

# Virtual environments
.venv_mac/
yikun_lock_env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PyInstaller
_output/
*.manifest
